.itemsContainer{
    display: flex;
    width: 100vw;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    width: 95vw;
    flex-flow: row wrap;
    justify-content: center;
}